<div class="panel" ng-controller="BookmarkListCtrl">
	<h3 class="panel-heading">Bookmark list</h3>
	<form class="navbar-form navbar-left">
		<input type="text" class="form-control" placeholder="Search..." ng-model="query">
	</form>
	<table class="table table-striped table-bordered table-hover">
		<tr>
			<th><span class="glyphicon glyphicon-sort-by-alphabet">ID</span></th>
			<th><span class="glyphicon glyphicon-sort-by-alphabet-alt">Title</span></th>
			<th>Icon</th>
		</tr>
		<tr  ng-repeat="dt in datas | filter:query | orderBy:orderProp">
			<td>{{dt.id}}</td>
			<td><a href="#/bookmarks/{{dt.id}}">{{dt.title}}</a></td>
			<td><img src="{{dt.icon}}" /></td>
		</tr>
	</table>
</div>