<div class="panel" ng-controller="CategoryDetailCtrl">
	<h3 class="panel-heading">Category: {{datas.name}}</h3>
	<form class="navbar-form navbar-left">
		<input type="text" class="form-control" placeholder="Search..." ng-model="query">
	</form>
	<table class="table table-striped table-bordered table-hover">
		<tr>
			<th ng-click="orderProp='id';orderReverse=!orderReverse"><span ng-class="{'glyphicon':orderProp=='id', 'glyphicon-sort-by-attributes':orderProp=='id' && !orderReverse, 'glyphicon-sort-by-attributes-alt':orderProp=='id'&&orderReverse}" ></span>ID</th>
			<th ng-click="orderProp='icon';orderReverse=!orderReverse"><span ng-class="{'glyphicon':orderProp=='icon', 'glyphicon-sort-by-attributes':orderProp=='icon' && !orderReverse, 'glyphicon-sort-by-attributes-alt':orderProp=='icon'&&orderReverse}"></span>Icon</th>
			<th ng-click="orderProp='title';orderReverse=!orderReverse"><span ng-class="{'glyphicon':orderProp=='title', 'glyphicon-sort-by-attributes':orderProp=='title' && !orderReverse, 'glyphicon-sort-by-attributes-alt':orderProp=='title'&&orderReverse}"></span>Title</th>			
		</tr>
		<tr  ng-repeat="dt in datas.bookmarks | filter:query | orderBy:orderProp:orderReverse">
			<td>{{dt.id}}</td>
			<td><img src="{{dt.icon}}" /></td>
			<td><a href="#/bookmarks/{{dt.id}}">{{dt.title}}</a></td>			
		</tr>
	</table>
</div>